/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-border-color: rgba(184, 184, 184, 0.5);

/* nav的颜色*/
$uni-nav-bar-bg: #FFFFFF;
$uni-tab-bar-bg: #FFFFFF;

/* 默认字体颜色*/
$uni-font-color: #000000;
